h1 {
  text-align: center;
  font-size: 5rem;
  font-family: 'Lucida Sans', sans-serif;
}

section {
  display: flex;
  align-items: center;
}

input[type="text"] {
  font-size: 2.5rem;
  color: blue;
  margin-right: 5px;
}

button {
  font-size: 1.5rem;
  padding: 10px 20px;
}